{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="col">
        <form method="POST" action="{{url_for('submit')}}">
            <div class="form-row">
                <div class="col-12 mt-3">
                    <input type="text" class="form-control" name="firstname" placeholder="First name">
                </div>
                <div class="col-12 mt-3">
                    <input type="text" class="form-control" name="lastname" placeholder="Last name">
                </div>
                <div class="col-12 mt-3 pt-3">
                    <button type="submit" class="btn btn-primary">Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>Hello {{firstname}} {{lastname}}, Welcome. This is Your Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ducimus eveniet laudantium voluptatem
            labore, atque perferendis reiciendis quas ipsam a est assumenda eos distinctio molestiae nam itaque, cum
            voluptates eligendi.</p>
    </div>
</div>
{% endblock %}